body {
  padding: 0;
  margin: 0;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  top: 35%;
  display: flex;
  position: relative;
  margin: 0;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.card {
  width: 100%;
  border-top: 2px solid white;
  border-radius: 18px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  animation: FadeInBottom 1s ease;
}
.about2 {
  border-top: none;
  border-bottom: 2px solid white;
  animation: FadeInBottom 1s ease;
}
.about, .about2 p {
  animation: FadeInBottom 1s ease;
  color: white;
  font-weight: 500;
  font-family: DayRom;
  display: flex;
  text-align: center;
  flex-direction: column;
}
#about {
  width: 80%;
  animation: FadeInBottom 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 60px;
  text-align: center;
}
#about h1 {
  animation: FadeInBottom 1s ease;
  font-size: 40px;
}
h1 {
  font-family: Intro;
  animation: FadeInBottom 1s ease;
  color: white;
  animation: FadeInBottom 1s ease;
}
.akhir {
  display: flex;
  animation: kedip 2s infinite;
}
.header {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  animation: FadeInBottom 1s ease;
  text-align: center;
}
.header img {
  width: 45%;
  animation: FadeInBottom 1s ease;
  border: 2px solid white;
  border-top: none;
  border-bottom: none;
  border-radius: 18px;
  margin-bottom: 40px;
  display: flex;
}
.header h1 {
  font-size: 10vw;
  margin: 0;
  animation: FadeInBottom 1s ease;
  display: flex;
  font-family: Intro;
  font-weight: bold;
  color: white;
}
.header p {
  margin: 0;
  display: flex;
  font-family: DayRom;
  font-weight: bold;
  color: white;
  animation: FadeInBottom 1s ease;
  font-size: 15px;
}
@font-face {
  font-family:'Intro';
  src: url('Intro.otf');
}
@font-face {
  font-family:'Apple Garamond';
  src: url('AppleGaramond-Bold.ttf');
}
@font-face {
  font-family:'DayRom';
  src: url('DAYROM__.ttf');
}
.contact {
  animation: FadeInBottom 1s ease;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  flex-direction: column;
}
.contact button {
  animation: FadeInBottom 1s ease;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  font-family: Segoe UI;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  margin: 10px;
}
b {
  color: #0fff;
}
.copyright {
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright p {
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 12px;
  display: flex;
}
@keyframes FadeInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}